<form [formGroup]="attendeesForm" (ngSubmit)="onSubmitAttendees()">
  <p>
    <button type="button" (click)="addAttendee()">Add</button>
  </p>

  <div formArrayName="attendeesArray" *ngFor="let attendee of attendeesArray.controls, let i = index">
    <ng-container [formGroupName]="i">
      <div>
        <p>
          Name:
          <input placeholder="Group/Person" formControlName="name">
        </p>
        <p>Amount:
          <input type="number" placeholder="Amount" formControlName="number">
        </p>

        <p>
          <button type="button" (click)="removeAttendee(i)">Remove</button>
        </p>
      </div>
    </ng-container>
  </div>

  <p>
    <button type="submit">Submit</button>
  </p>
</form>


<form [formGroup]="partyConditionsFormGroup" class="formGroupVertical">
  <div *ngFor="let key of keysOfPartyConditions">
    <div class="formGroupHorizontal">
      {{key | pascalCaseToSpace}}
      <input type="text" formControlName="{{key}}">
    </div>
  </div>

  <button type="submit" (click)="onCalculate(this.partyConditionsFormGroup)">Calculate</button>
</form>

<p>Result:</p>

<span>
  Total Attendees: {{partyResult.TotalAttendees}}
  <br>
  Total Price: {{partyResult.TotalCost}} $
</span>
